# Entornos virtuales y dependencias
venv/
__pycache__/
*.pyc
*.pyo

# Archivos de configuración y credenciales
.env

# Logs y archivos temporales
logs/
*.log
debug.log
.DS_Store

# Archivos generados por herramientas
.idea/
.vscode/
*.swp

# Caché y dependencias de Python
pip-log.txt
pip-delete-this-directory.txt

# Archivos de Docker
*.dockerignore
dist/
build/

# Archivos de cobertura de pruebas
.coverage
htmlcov/

# Archivos de bases de datos locales
*.sqlite3

# Archivos de despliegue
*.tar.gz
*.zip